<h3 class="ui header">{{t "forms.i-i-s-zavisimos-сотрудники-e.caption"}}</h3>

<form class="ui form flexberry-vertical-form" role="form">
  {{flexberry-error error=error}}
  <div class="field">
    <div class="flexberry-edit-panel">
      {{#unless readonly}}
        <button class="ui button save-button" {{action "save"}}>
          {{t "forms.edit-form.save-button-text"}}
        </button>
        {{#unless model.isNew}}
          <button class="ui button save-del-button" {{action "delete"}}>
            {{t "forms.edit-form.delete-button-text"}}
          </button>
        {{/unless}}
      {{/unless}}
      <button class="ui button close-button" {{action "close"}}>
        {{t "forms.edit-form.close-button-text"}}
      </button>
    </div>
  </div>
  <div class="field flexberry-validationsummary-container">
    <div class="sixteen wide">
      {{flexberry-validationsummary errors=(v-get validationObject "messages")}}
    </div>
  </div>
  <div class="field">
    {{flexberry-field
      readonly=readonly
      value=model.iDСотрудника
      class=(if (v-get validationModel "iDСотрудника" "isInvalid") "error")
      label=(t "forms.i-i-s-zavisimos-сотрудники-e.iDСотрудника-caption")
      data-test-i-i-s-zavisimos-сотрудники-e-iDСотрудника=true
    }}
    {{flexberry-validationmessage error=(v-get validationModel "iDСотрудника" "message")}}
  </div>
  <div class="field">
    {{flexberry-field
      readonly=readonly
      value=model.фИОСотрудника
      class=(if (v-get validationModel "фИОСотрудника" "isInvalid") "error")
      label=(t "forms.i-i-s-zavisimos-сотрудники-e.фИОСотрудника-caption")
      data-test-i-i-s-zavisimos-сотрудники-e-фИОСотрудника=true
    }}
    {{flexberry-validationmessage error=(v-get validationModel "фИОСотрудника" "message")}}
  </div>
  <div class="field" data-test-i-i-s-zavisimos-сотрудники-e-отделы="true">
    <label>{{t "forms.i-i-s-zavisimos-сотрудники-e.отделы-caption"}}</label>
    {{flexberry-dropdown
      items=(flexberry-enum "i-i-s-zavisimos-отделы")
      value=model.отделы
      class=(if (v-get validationModel "отделы" "isInvalid") "error")
      readonly=readonly
    }}
    {{flexberry-validationmessage error=(v-get validationModel "отделы" "message")}}
  </div>
  <div class="field">
    <label>{{t "forms.i-i-s-zavisimos-сотрудники-e.датаПриема-caption"}}</label>
    {{flexberry-simpledatetime
      type="date"
      readonly=readonly
      value=model.датаПриема
      class=(if (v-get validationModel "датаПриема" "isInvalid") "error")
      data-test-i-i-s-zavisimos-сотрудники-e-датаПриема=true
    }}
    {{flexberry-validationmessage error=(v-get validationModel "датаПриема" "message")}}
  </div>
  <div class="field">
    {{flexberry-field
      readonly=readonly
      value=model.зарплата
      class=(if (v-get validationModel "зарплата" "isInvalid") "error")
      label=(t "forms.i-i-s-zavisimos-сотрудники-e.зарплата-caption")
      data-test-i-i-s-zavisimos-сотрудники-e-зарплата=true
    }}
    {{flexberry-validationmessage error=(v-get validationModel "зарплата" "message")}}
  </div>
  <div class="field">
    {{flexberry-field
      readonly=readonly
      value=model.номерТелефона
      class=(if (v-get validationModel "номерТелефона" "isInvalid") "error")
      label=(t "forms.i-i-s-zavisimos-сотрудники-e.номерТелефона-caption")
      data-test-i-i-s-zavisimos-сотрудники-e-номерТелефона=true
    }}
    {{flexberry-validationmessage error=(v-get validationModel "номерТелефона" "message")}}
  </div>
  <div class="field" data-test-i-i-s-zavisimos-сотрудники-e-пол="true">
    <label>{{t "forms.i-i-s-zavisimos-сотрудники-e.пол-caption"}}</label>
    {{flexberry-dropdown
      items=(flexberry-enum "i-i-s-zavisimos-пол")
      value=model.пол
      class=(if (v-get validationModel "пол" "isInvalid") "error")
      readonly=readonly
    }}
    {{flexberry-validationmessage error=(v-get validationModel "пол" "message")}}
  </div>
  <div class="field">
    <label>{{t "forms.i-i-s-zavisimos-сотрудники-e.должность-caption"}}</label>
    {{flexberry-lookup
      choose="showLookupDialog"
      remove="removeLookupValue"
      value=model.должность
      displayAttributeName="должность"
      autocomplete=true
      relationName="должность"
      projection="ДолжностьL"
      title=(t "forms.i-i-s-zavisimos-сотрудники-e.должность-caption")
      readonly=readonly
      componentName="должностьLookup"
      class=(if (v-get validationModel "должность" "isInvalid") "error")
      data-test-i-i-s-zavisimos-сотрудники-e-должность=true
    }}
    {{flexberry-validationmessage error=(v-get validationModel "должность" "message")}}
  </div>
</form>
